swagger: '2.0'

info:
  title: The Maryland Test Facility Acquisition System Interface
  description: DRAFT Application Programming Interface for sending acquisition records to the MdTF Backend.
  version: "1.1.0"
  contact:
    name: Andrew Blanchard
    url: https://mdtf.org
    email: andrew@mdtf.org
# the domain of the service
host: api.mdtf.org
# array of all schemes that your API supports
schemes:
  - http
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json

################################################################################
#                                   Tags                                       #
################################################################################

tags:
  - name: Image Submission
    description: |
      Endpoints for submitting images to an ongoing transaction.


################################################################################
#                                   Definitions                                #
################################################################################

definitions:
############
## REQUESTS
############
  FaceCapture:
    type: object
    required: ["StationID", "FaceImageData"]
    properties:
      StationID:
        type: string
        description: The unique identifier for the station that the image was captured at.
        example: MdTF_Station
        x-nullable: false
      FaceImageData:
        type: string
        description: The captured face image data in PNG format, encoded as a base64 string. The data string shall not exceed 1MB.
        example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGJiYGAABAAA//8ADAADcZGLFwAAAABJRU5ErkJggg==
        x-nullable: false

  IrisCapture:
    type: object
    required: ["StationID"]
    properties:
      StationID:
        type: string
        description: The unique identifier for the station that the image was captured at.
        example: MdTF_Station
        x-nullable: false
      LeftIrisImageData:
        type: string
        description: The captured left iris image data, encoded as a base64 string. The data string shall not exceed 512kB. At least one iris image data field MUST be filled.
        example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGJiYGAABAAA//8ADAADcZGLFwAAAABJRU5ErkJggg==
        x-nullable: false
      RightIrisImageData:
        type: string
        description: The captured right iris image data, encoded as a base64 string. The data string shall not exceed 512kB. At least one iris image data field MUST be filled.
        example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGJiYGAABAAA//8ADAADcZGLFwAAAABJRU5ErkJggg==
        x-nullable: false

  FingerCapture:
    type: object
    required: ["StationID"]
    properties:
      StationID:
        type: string
        description: The unique identifier for the station that the image was captured at.
        example: MdTF_Station
        x-nullable: false
      FingerImages:
        type: array
        description: The captured finger(s). At least one FingerImage must be submitted with the request.
        items:
          $ref: '#/definitions/FingerImage'

  FingerImage:
    type: object
    required: ["FingerType"]
    properties:
      FingerType:
        $ref: '#/definitions/FingerType'
      FingerImageData:
        type: string
        description: The captured finger image data, encoded as a base64 string. The data string shall not exceed 100kB.
        example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGJiYGAABAAA//8ADAADcZGLFwAAAABJRU5ErkJggg==
        x-nullable: false

#############
## RESPONSES
#############

  Error:
    type: object
    properties:
      Code:
        type: integer
        format: int32
        description: The error code.
      Message:
        type: string
        description: A description of the returned code.
      ErrorString:
        type: string
        description: A detailed description of the error that occurred.

#########
## ENUMS
#########

  FingerType:
    type: string
    description: The allowed string names for finger images.
    enum:
      - RightThumb
      - RightIndexFinger
      - RightMiddleFinger
      - RightRingFinger
      - RightLittleFinger
      - LeftThumb
      - LeftIndexFinger
      - LeftMiddleFinger
      - LeftRingFinger
      - LeftLittleFinger

################################################################################
#                                   Parameters                                 #
################################################################################

parameters:
  face_capture:
    name: face_capture
    in: body
    description: face image collected as part of a transaction
    required: true
    schema:
      $ref: '#/definitions/FaceCapture'

  iris_capture:
    name: iris_capture
    in: body
    description: iris image(s) collected as part of a transaction
    required: true
    schema:
      $ref: '#/definitions/IrisCapture'

  finger_capture:
    name: finger_capture
    in: body
    description: finger image(s) collected as part of a transaction
    required: true
    schema:
      $ref: '#/definitions/FingerCapture'

################################################################################
#                                   Paths                                      #
################################################################################

paths:
  /v1/face-captures:
    parameters:
        - $ref: '#/parameters/face_capture'
    post:
      summary: Associate a face image capture with the ongoing transaction
      description: |
        Rally Participants will submit face image data through this endpoint. Submitted image captures will be
        stored and associated with the ongoing transaction. Multiple images may be submitted during a transaction.
      tags:
        - Image Submission
      responses:
        200:
          description: Successfully associated the image capture with the ongoing transaction.
        400:
          description: The request is malformed.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: No ongoing transaction was found for the specified StationID.
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Too many requests for the ongoing transaction.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: |
            This capture failed because of a server side issue
          schema:
            $ref: '#/definitions/Error'
        default:
          description: An error occurred.
          schema:
            $ref: '#/definitions/Error'

  /v1/iris-captures:
    parameters:
        - $ref: '#/parameters/iris_capture'
    post:
      summary: Associate an iris image capture (or pair of image captures) with the ongoing transaction
      description: |
        Rally Participants may submit iris image data through this endpoint. Submitted image captures will be
        stored and associated with the ongoing transaction. Multiple images may be submitted during a transaction.
      tags:
        - Image Submission
      responses:
        200:
          description: Successfully associated the image capture(s) with the ongoing transaction.
        400:
          description: The request is malformed.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: No ongoing transaction was found for the specified StationID.
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Too many requests for the ongoing transaction.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: |
            This capture failed because of a server side issue
          schema:
            $ref: '#/definitions/Error'
        default:
          description: An error occurred.
          schema:
            $ref: '#/definitions/Error'

  /v1/finger-captures:
    parameters:
      - $ref: '#/parameters/finger_capture'
    post:
      summary: Associate up to 10 finger captures with the ongoing transaction
      description: |
        Rally Participants may submit finger image data through this endpoint. Submitted image captures will be stored and associated with the ongoing transaction. Multiple images may be submitted during a transaction.
      tags:
        - Image Submission
      responses:
        200:
          description: Successfully associated the image capture(s) with the ongoing transaction.
        400:
          description: The request is malformed.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: No ongoing transaction was found for the specified StationID.
          schema:
            $ref: '#/definitions/Error'
        429:
          description: Too many requests for the ongoing transaction.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: |
            This capture failed because of a server side issue
          schema:
            $ref: '#/definitions/Error'
        default:
          description: An error occurred.
          schema:
            $ref: '#/definitions/Error'
