swagger: '2.0'

info:
  title: The Maryland Test Facility Matching System Interface
  description: DRAFT Applicaton Programming Interface for receiving matching system requests from the MdTF Backend.
  version: "1.0.0"
  contact:
    name: John Howard
    url: https://mdtf.org
    email: john@mdtf.org
# the domain of the service
host: api.mdtf.org
# array of all schemes that your API supports
schemes:
  - http
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json

################################################################################
#                                   Tags                                       #
################################################################################

tags:
  - name: Extraction
    description: |
      Endpoints related to functionality that extracts a biometric template from a biometric sample.
  - name: Comparison
    description: |
      Endpoints related to functionality that compares one or more biometric templates
  - name: Information
    description: |
      Endpoints related to functionality that provides information on biometric algorithms
      
################################################################################
#                                   Definitions                                #
################################################################################

definitions:

############
## REQUESTS
############
  Image:
    type: object
    description: |
      Object that contains image data.
    properties:
      ImageData:
        type: string
        description: The captured image data in PNG format, encoded as a base64 string. The data string shall not exceed 1MB.
        example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGJiYGAABAAA//8ADAADcZGLFwAAAABJRU5ErkJggg==
        x-nullable: false

  Template:
    type: object
    description: |
      Object that contains a byte array of template data.
    properties:
      Template:
        description: A byte array that contains template data.
        type: array
        x-nullable: false
        items:
          type: string
          format: byte

  Comparison:
    type: object
    description: |
      Comparison contains a similarity score for a single templare comparison operation.
    properties:
      AlgorithmName:
        type: string
        description: Name of the algorithm used to create this comparison
        x-nullable: false
      NormalizedScore:
        type: number
        format: float
        description: Similarity score between 0 and 1, with 1 being the highest score the algorithm can produce
        x-nullable: false
      Score:
        type: number
        format: float
        description: Un-normalized similarity score, raw score as produced by the algorithm
        x-nullable: false

  CompareListRequest:
    description: A single template object and a list of templates that it will be compared to.
    type: object
    properties:
      SingleTemplate:
        $ref: "#/definitions/Template"
        x-nullable: false
      TemplateList:
        type: array
        items:
          $ref: "#/definitions/Template"
        x-nullable: false

#############
## RESPONSES
#############
  
  Info:
    type: object
    description: Basic information of the algorithm.
    properties:
      Name:
        type: string
        description: Name of algorithm
      SdkManufacturer:
        type: string
        description: Name of the manufacturer of the SDK
      SdkModel:
        type: string
        description: Identifier of the model SDK
      Version:
        type: string
        description: Algorithm version identifier
      ValidTypes:
        type: array
        description: Array of integer indexes of valid biometric types for this algorithm
        items:
          type: integer
          
#########
## ENUMS
#########

# None

################################################################################
#                                   Parameters                                 #
################################################################################

parameters:
  image:
    name: image
    in: body
    description: |
      Image that will be used for extraction. This object contains a base64 encoded PNG and a BiometricImageType.
    required: true
    schema:
      $ref: "#/definitions/Image"

  compare_list_request:
    name: compare_list_request
    in: body
    description: A single template object and a list of templates that it will be compared to.
    required: true
    schema:
      $ref: "#/definitions/CompareListRequest"

################################################################################
#                                   Paths                                      #
################################################################################

paths:
  /v1/create-template/:
    post:
      summary: Generates a template from a biometric image.
      description: |
        This endpoint takes a base64 encoded PNG and performs a `feature extraction` operation resulting in a single template being produced
      tags:
        - Extraction
      operationId: create_template
      parameters:
        - $ref: "#/parameters/image"
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/Template"
        406:
          description: Status not acceptable
        500:
          description: Internal server error

  /v1/compare-list/:
    post:
      summary: Compares a template to a list of templates.
      description: |
        This endpoint takes a template and a list of templates.  It compares the single template to every other template in the list.
        The result is a list of Comparison objects that holds a similarity score for each comparison.
      tags:
        - Comparison
      operationId: compare_list
      parameters:
        - $ref: "#/parameters/compare_list_request"
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            type: array
            items:
              $ref: "#/definitions/Comparison"
        406:
          description: Status not acceptable
        500:
          description: Internal server error

  /v1/info/:
    get:
      summary: Returns basic information of the algorithm.
      description: |
        Returns information about the algorithm. This can include Name, SdkManufacturer, SdkModel, SdkVersion, Version, and ValidTypes.
      tags:
        - Information
      operationId: info
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Info'
        406:
          description: Status not acceptable
        500:
          description: Internal server error
